body{
    background-color: powderblue;
}
h1{
    font-family: verdana;
    font-size: 50px;
    color: seagreen;
    text-align: center;
}
h2{
    
}
p{
    color: tomato;
    background-color: forestgreen;
    text-align: center;
    height: 30px;
    font-size: 20px;
    font-family: courier;
}